body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.alert{
    height: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.slide{
    margin-bottom: 40px;
}

.slide .slider{
    margin-left: 10px;
}

#slider-tmp .slider-selection {
	background: #BABABA;
}

h2{
    margin-bottom: 30px;
}

#RGBColor {
	height: 50px;
	background: rgb(128, 128, 128);
}